<div class="row">
	<div class="col-md-8">
		<h3>Customer Data</h3>
		<hr />
		<br />
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="name">Name</label> <input type="text"
					class="form-control" id="name" placeholder="enter name"
					[(ngModel)]="customer.name" name="name" required>
			</div>

			<div class="form-group">
				<label for="age">Age</label> <input type="number"
					class="form-control" id="age" placeholder="enter age"
					[(ngModel)]="customer.age" name="age" required>
			</div>

			<div class="form-group">
				<label for="adress">Adress</label> <input type="text"
					class="form-control" id="adress" placeholder="adress"
					[(ngModel)]="customer.address" name="adress" required>
			</div>


			<button type="submit" class="btn btn-success">Submit</button>

		</form>
	</div>
</div>
